page-card {
  ion-card{
    position: relative;
    text-align: center;
    #title{
      position: absolute;
      top: 25%;
      width: 100%;
      font-weight: bolder;
      color:#fff;
    }
  }
}
